@font-face {
  font-family: "iconfont";
  src:
    url("iconfont.ttf?t=1723712459473") format("truetype"),
    url("iconfont.woff?t=1723712459473") format("woff"),
    url("iconfont.woff2?t=1723712459473") format("woff2");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spanner::before {
  content: "\E001";
}

.icon-color_oc::before {
  content: "\E002";
}

.icon-arrow2-right::before {
  content: "\E003";
}

.icon-arrow1-right::before {
  content: "\E004";
}

.icon-area::before {
  content: "\E005";
}

.icon-add_oc::before {
  content: "\E006";
}
